.root {
  margin: auto;
  max-width: 1120px;

  .panel {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;

    .link {
      text-decoration: none;
    }
  }

  .tutors {
    display: flex;
  }
}